h1{
    text-align: center;
    font-family:Verdana;
    text-shadow:0px 5px 5px charcoal, 0px 10px 5px yellow, 0px 15px 5px white;
}
body{
    background: linear-gradient(charcoal, yellow);
    background-repeat: no-repeat;
    font-size: x-large;
}
table{
    margin-left: 15px;
    margin-bottom: 50px;
}
p{
    margin-left: 10px;
}
label{
    margin-left: 10px;
}
dl{
    margin-left: 10px;
}
div{
    margin: 50px;
}
